<html lang="en">
    <body>
        <% animeResults.forEach(anime => {%>
            <article className="anime-card">
                <button type="button" className="modal-button" data-bs-toggle="modal"
                        data-bs-target="#animedetails-<%=anime.mal_id%>">
                    <figure className="figure-outer-block">
                        <img className="image-inner-block" src="<%= anime.image_url %>" alt="Anime Image" />
                    </figure>
                    <h3 className="anime-card-title"><%= anime.title %></h3>
                </button>
            </article>
        <%})%>

        <% animeResults.forEach(anime => { %>
            <div class="modal fade bd-example-modal-lg" id="animedetails-<%= anime.mal_id %>" tabindex="-1" aria-labelledby="Anime description" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><%= anime.title %></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body-inline-block ">
                            <div className="modal-body row">
                                <figure className="modal-body col-xl-4">
                                    <img src="<%= anime.image_url %>" className="modal-image" alt="<%= anime.title %> Image" />
                                </figure>
                                <figure className="modal-body col-xl-8">
                                    <h3><strong>Type: </strong><%= anime.type %></h3>
                                    <%if (anime.type === "TV") {%>
                                        <%if(anime.episodes === null){ %>
                                            <h3><strong>Episodes: </strong>TBA</h3>
                                        <%} else {%>
                                            <h3><strong>Episodes: </strong><%= anime.episodes %></h3>
                                        <%}%>
                                    <%} else {%>

                                    <%}%>
                                    <h3>
                                        <strong>Score: </strong>
                                        <%if(anime.score === 0){%>
                                            Not scored yet.
                                        <%} else {%>
                                        <%=anime.score%>/10
                                        <%}%>
                                    </h3>
                                    <h3>
                                        <strong>Synopsis: </strong>
                                        <%if(anime.synopsis === null){%>
                                            Click the link below for the synopsis.
                                        <%} else {%>
                                            <%= anime.synopsis %>
                                        <%}%>
                                    </h3>
                                    <h3>
                                        <strong>Start Date: </strong>
                                        <%if(anime.start_date === null){%>
                                            TBA
                                        <%} else {%>
                                            <%= anime.start_date.substring(0,10)%>
                                        <%}%>
                                    </h3>
                                    <h3>
                                        <strong>End Date: </strong>
                                        <%if(anime.airing){%>
                                            Still Airing
                                        <%} else {%>
                                        <%if(anime.end_date === null){%>
                                            TBA
                                        <%} else {%>
                                            <%= anime.end_date.substring(0,10)%>
                                        <%}%>
                                        <%}%>
                                        {
                                    </h3>
                                    <h6><a href="<%=anime.url%>" target="_blank">Click here for more details.</a></h6>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    <script>
        <% animeResults.forEach(anime => { %>
		    document.getElementById("<%= anime.mal_id %>").innerHTML
        <%})%>

    </script>
    </body>
</html>

